.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  /* overflow-x: hidden; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  transition: .2s;
  /* border: 1px solid black; */
}

.card:hover {

  /* border: none; */
  box-shadow: 0px 10px 18px rgb(0 0 0 / 25%);
  position: relative;
  transform: scale(1.1);
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.Dflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Dflex .icons {
  display: flex;
  gap: .7em;
  font-size: 1.2em;


}

.Dflex .icons i {
  cursor: pointer;
  color: #5f5f60;
  transition: .3s;
}

.Dflex .icons i:nth-child(1):hover {
  color: rgb(250, 41, 41);
}

.Dflex .icons i:nth-child(2):hover {
  color: rgb(41, 128, 250);
}

.tag {
  position: absolute;
  background: dodgerblue;
  /* background: #8b1eff; */
  font-weight: 500;
  font-size: .8em;
  color: white;
  padding: .19em .6em;
  /* top: -1em; */
  bottom: -1em;
  right: -1em;
  border-radius: 1.5em;
}

.row {
  margin-bottom: 2em;
}

.col-md-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-weight: 500;
  margin-bottom: .4em;
}

.popup {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 40%);
  z-index: 9999999;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}

.show {
  opacity: 1;
  pointer-events: all;
}

.popup_box {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  background: white;
  padding: .7em .9em;
  border-radius: .4em;
  opacity: 0;
  top: -1em;
  pointer-events: none;
  transition: .3s;
}

.come {
  opacity: 1;
  top: 8.2%;
  pointer-events: all;
}

.popup_box h3 span:nth-child(2) {
  position: absolute;

  right: -.5em;
  font-weight: 200;
  top: -.5em;
  padding: .2em .5em;
  border: 1px solid rgb(0 0 0 / 45%);
  border-radius: 50%;
  background: white;
  cursor: pointer;

}

.fa-solid {
  color: #5f5f60;
  cursor: pointer;
}

.fa-tag {
  color: white;
}

.white {
  color: white;
}

.fa-circle-user {
  color: white;
  margin-right: 1em;
  font-size: 1.65em;
  cursor: pointer;
  position: absolute;
  right: 3em;
  top: 15px;
}

.userbox {
  box-shadow: 0 8px 10px rgb(0 0 0 / 30%);
  position: absolute;
  top: 3rem;
  background: white;
  color: black;
  right: -3em;
  padding: .4em .5em;
  border-radius: .3em;
  top: 1em;
  opacity: 0;
  transition: .4s;
  pointer-events: none;
}

.fa-circle-user:hover .userbox {
  top: 2em;
  opacity: 1;
  pointer-events: all;
}

.userbox h2 {
  font-size: .7em;
  text-align: center;
  font-family: 'Font Awesome 6 Free';
  color: deepskyblue;
}

.userbox h3 {
  text-align: center;
  font-family: sans-serif;
  font-size: .75em;
  color: #5f5f60;
  letter-spacing: .05em;
}

.userbox h4 {
  font-family: system-ui;
  font-weight: 400;
  font-size: .7em;
  color: #0a61d1;
}

.alert_h {
  margin-top: 3.6em;
  height: 23px;
}

.card {
  width: 18rem;
}

.Box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.Box_box {
  margin-top: 2em;
  width: 35rem;
  height: fit-content;
  padding: .5em .7em;
}

.signup_btn {
  text-decoration: none;
  color: rgb(31, 95, 234);
  font-weight: 500;
}
.hidden{
  display: none;
}
.inline-block{
  display: inline-block;
}
.spin{
  /* transition: .4s; */
  
  animation: spin 2.6s linear infinite ;
}
@keyframes spin {
    0%{
      transform: rotate(-360deg);
    }
    100%{
      transform: rotate(360deg);
    }
}

.login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_btn button {
  display: inline;
  width: 16rem;
}



/* ///////////////// Commnet components css here */

.Blogpost {
  width: 33rem;
  margin-top: .7rem;

  
  width: 80rem;
  margin-top: .7rem;
  gap: 3em;
  display: flex;

}

.sup {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.sm {
  font-size: .619em;
}

.sup span {
  padding: .7em;
}

.like {
  margin-left: .9em;
}

.commentbox {
  /* border: 1px solid rgb(0 0 0 / 25%); */
  border-radius: .4em;
  padding: .5em .5em;
  height: 16rem;
  overflow-y: auto;
  margin-bottom: .5em;
  border-bottom: none;
  box-shadow: 0 10px 20px rgb(0 0 0 / 25%);


  border-radius: .4em;
  padding: .5em .5em;
  height: 27rem;
  overflow-y: auto;
  margin-bottom: .5em;
  border-bottom: none;
  box-shadow: 0 10px 20px rgb(0 0 0 / 25%);
  width: 33rem;
}

.repbox {
  /* border: 1px solid #0f75ef; */
  /* border: 1px solid #8d8d8d; */
  /* border: 1px solid #868eff;; */
  width: 90%;
  margin-left: 10%;
  margin-bottom: .5em;
  border-radius: .5em;
  padding: .3em;
  display: none;
  position: relative;
  overflow: hidden;
}

.showrepl {
  display: block;
}

.repldetail {
  display: flex;
  flex-direction: column;
  padding-bottom: .6em;
  background: #c1e1ff;
  margin-top: .3em;
  border-radius: .3em;
  border: 1px solid lightskyblue;
}
.userlogo{
  border-radius: 100%;
  width: 20px;
}

.wall{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comfirmbox {
  /* position: ; */
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: white;
  /* bottom: 8px; */
  z-index: 99;
  border-radius: inherit;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  padding: .9em .9em;
  transition: .4s;
  transform: translateX(24rem);
  position: fixed;
  opacity: 0;  
  top: 2em;
  left: 50%;
  transform: translateX(-50%);

  
}
.show1{
  top: 5em;
  opacity: 1;
  /* transform: translatey(0%); */
}
.comfirmbox .fa-check{
  background: #23f923;
  color: white;
  padding: .27em .3em;
  border-radius: 50%;
  cursor: pointer;
}
.rep_inpt{
  color: #5e5f5f;;
}
.comfirmbox .fa-xmark{
  background: #ff4e4e;
  color: white;
  padding: .2em .42em;
  border-radius: 50%;
  cursor: pointer;
}
.comfirmbox .confirm1{
  margin-bottom: .5em;
  font-size: 1.2em;
}


.repldetail span:nth-child(1) {
  font-size: .81em;
  font-weight: 500;
  color: black;
  margin: .3em .0em;
  /* border-bottom: 1px solid rgba(0,0,0,.5); */
  width: fit-content;
}

.repldetail span:nth-child(2) {
  margin-left: 13%;
  margin-top: .3em;
  color: #7d807e;
  color: #137ef0;
  font-size: .89em;
  font-weight: 500;
}

.rep_dots {
  cursor: pointer;
}

.addcomm {
  display: flex;
  flex-direction: column;

}

.inputbox {
  display: flex;
  justify-content: space-between;
}

.inputbox input {
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(94 194 255);
  padding: .4em .2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}

.comment_para {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: .0em .7em;

}

.like,
.dislike {
  cursor: pointer;

}

.count {
  font-size: .85em;
  font-weight: 500;
  font-size: .85em;
  font-weight: 500;
  display: inline-block;
  width: 30px;
}

.repldetail {
  position: relative;
}

.repldetail .comfirmbox {
  position: absolute;
  right: 0;
  bottom: .2em;
}

.red {
  color: rgb(245, 67, 67);

}

/*  */
.fa-trash:active{
  color: rgba(12, 159, 244, 0.745) ;
  transition: .9s;
  transform: scale(1.5);
}
.animate_like {
  animation: like .3s  infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* transition: 1s;
  transform: scale(1.4); */
  transition: 7s;
}

@keyframes like {

  /* 0%,
  40% {
    transform: scale(1.7);
  } 

   50% {
    transform: scale(2);
  }
   70% {
    transform: scale(3);
  } */
  0%,100%{
    
    transform: scale(1.5);

  }
  50%{
    transform: scale(.1)
  }

}

.post_btn {
  padding: .3em 1em;
  background: #1ba8e9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: .5em;
  color: white;
  cursor: pointer;
  gap: .4em;
  border: none;
}

.post_btn:disabled {
  background: #67c5f1;
  pointer-events: none;
}

.post_btn i {
  color: rgb(250, 185, 64);
}

.inputbox1 {
  width: 90%;
  margin-left: 10%;
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: .4em;

}

.reply {
  display: flex;
}

.fa-share {
  color: rgb(11, 128, 245);
}

.send_btn:disabled .fa-share {
  color: rgb(175, 175, 175);
  pointer-events: none;
}

.inputbox #reply {
  font-size: .9em;
  letter-spacing: .04em;
  font-family: inherit;
  border-color: #939393;
}

.send_btn {
  border: none;
}

.inputbox .write {
  white-space: nowrap;
  color: darkslategray;
  color: #5b13a2;
  color: #007eff;
  color: #6f7070;
}

@media (max-width: 1100px) {
  html {
    font-size: 90%;
  }

  .col-md-3 {
    width: 33%;
  }

  .popup_box {
    width: 65%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 500px) {
  .Blogpost {
    width: 99%;
    flex-direction: column;
}
.commentbox{
  width: 100%;
}
  .col-md-3 {
    width: 100%;
  }

  .card {
    width: 80%;
  }

  html {
    font-size: 85%;
  }

  .popup_box {
    width: 97%;
  }

  .come {
    top: 4em;
  }

  .popup_box h3 span:nth-child(2) {
    border: none;
    right: 0;
    top: 0;
  }
}